<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>

  <!-- Body -->
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <!-- <header class="page-header" role="banner"> -->
      <!-- <img class="logo" src="assets/images/logo_idbc–sticker square.jpg" alt="IDBC Logo" width="475" height="475" />
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header> -->

    <!-- Header -->
    <header class="page-header">
      <h1>{{ site.title }}</h1>
      <!-- <p>{{ site.description }}</p> -->
    </header>


    <!-- Navigation Bar -->
    <header>
      <nav class="nav-bar">
        <div class="nav-toggle" onclick="toggleNav()">&#9776;</div>
        <ul class="nav-links">
          {% for item in site.navigation %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>


    <!-- Main Content -->
    <main id="content" class="main-content" role="main">
      {{ content }}


    <script>
      function toggleNav() {
        const nav = document.querySelector('nav');
        nav.classList.toggle('open');
      }
    </script>

      <footer class="site-footer">
        <a href="mailto:ithacadragonboat2004@gmail.com"><img src="/assets/images/email_icon.png" alt="Email" width="35vh" style="position: relative; top: 1vh">
        <a href="https://www.facebook.com/IthacaDragonBoatClub/"><img src="/assets/images/facebook_icon.png" alt="Facebook" width="35vh" style="position: relative; top: 1vh">
        <a href="https://www.instagram.com/ithaca_dragon_boat/"><img src="/assets/images/instagram_icon.png" alt="Instagram" width="35vh" style="position: relative; top: 1vh">
        <a href="https://www.meetup.com/Ithaca-Dragon-Boat-Club/"><img src="/assets/images/meetup_icon.png" alt="Meetup" width="35vh" style="position: relative; top: 1vh">
          
     <!--    {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %} -->
        <!-- <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span> -->
      </footer>
    </main>
  </body>
</html>
